<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center field">
    <%= form.label :ニックネーム %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="center field">
    <%= form.label :年齢 %>
    <%= form.number_field :age, id: :user_age %>
  </div>

  <div class="center field">
    <%= form.label :性別 %>
    <%= form.text_field :sex, id: :user_sex %>
  </div>

  <div class="center field">
    <%= form.label :住んでいる地域 %>
    <%= form.text_field :area, id: :user_area %>
  </div>

  <div class="center field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email, id: :user_email %>
  </div>
  
  <div class="center field">
    <%= form.label :パスワード %>
    <%= form.password_field :password, id: :user_password%>
  </div>

  <div class="center field">
    <%= form.label :パスワード（確認） %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation%>
  </div>

  <div class="center field">
    <%= form.label :自由記述 %>
    <%= form.text_area :freetext, id: :user_freetext %>
  </div>


  <div class = "field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :user_picture %>
  </div>

  <div class="center actions">
    <%= form.submit "登録" %>
    <%= link_to 'キャンセル', users_path %>
   </div>

<% end %>
