<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <!--<th>Password digest</th>-->
       <th></th>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Area</th>
      <th>Email</th>
      <th>Freetext</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <!--<td><%= user.password_digest %></td>-->
        <td><%= image_tag user.picture.thumb.url , size: '60x60', style: "border-radius:50%" if user.picture?%></td>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
        <td><%= user.area %></td>
        <td><%= user.email %></td>
        <td><%= user.freetext %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
