<p>
  <h1>Home Page</h1>
</p>

  <p><%= @user.name %> <%= link_to  'プロフィール編集', edit_user_path(current_user) %>
    <%= link_to 'コミュニティ検索', communities_path(current_user) %></p>
  
  <% @communities.each do |community| %>
    <p><%= community.name %> <%= link_to 'チャット', messages_path %><%= link_to '編集', edit_community_path(community.id) %></p>
  <% end %>

  <% @events.each do |event| %>
    <p><%= event.name %> <%= link_to '詳細', event %></p>
  <% end %>
<p><%= link_to 'コミュニティ作成', new_community_path %></p>
