<p>
  <h1>Home Page</h1>
</p>

<p><%= @users.name %> <%= link_to  'プロフィール編集', edit_user_path(current_user) %>
    <%= link_to 'コミュニティ検索', '#' %></p>
<% @communities.each do |community| %>
  <p><%= community.name %> <%= link_to 'チャット', '#' %></p>
<% end %>
<p><%= link_to 'コミュニティ作成', new_community_path %></p>