<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :行事名 %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :開始 %>
    <%= form.datetime_select :event_start_at, id: :event_event_start_at %>
  </div>

  <div class="field">
    <%= form.label :終了 %>
    <%= form.datetime_select :event_end_at, id: :event_event_end_at %>
  </div>

  <div class="field">
    <%= form.label :場所 %>
    <%= form.text_field :place, id: :event_place %>
  </div>

  <div class="actions">
    <%= form.submit "完了"%>
    <%= link_to 'キャンセル', events_path %>
  </div>
<% end %>
