<p id="notice"><%= notice %></p>

<p>
  <strong>コミュニティID:</strong>
  <%= @event.community_id %>
</p>

<p>
  <strong>行事名:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>開始:</strong>
  <%= @event.event_start_at %>
</p>

<p>
  <strong>終了:</strong>
  <%= @event.event_end_at %>
</p>

<p>
  <strong>場所:</strong>
  <%= @event.place %>
</p>
<%=link_to '参加', event_members_path(event_member: {event_id: @event.id, user_id: current_user.id}), method: :post%>
<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to '戻る', events_path %>



